/************************** header *****************************/
.header {
    grid-area: header;
    background-color: #F00;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 4;
}


.nav-header {
    position: fixed;
    width: 100%;
    transition: all 0.3s;
}


.nav-header.collapsed {
    margin-left: -95px;
}

.navbar-toggler {
    padding-left: 0;
    border: none;
    outline: none;
}

.navbar-toggler:focus {
    border: none;
    outline: none;
}

.navbar-toggler.collapsed {
    border: none;
    outline: none;
}

/************************** Footer *****************************/

.footer {
    grid-area: footer;
    background: rgb(37, 41, 46);
}

.footer_wrapper {
    transition: all 0.3s;
    width: 100%;
    height: 25px;
}

.footer_wrapper.collapsed {
    margin-left: -95px;
}
