.main {
    grid-area: main;
    background-color: rgb(37, 41, 46);
    margin-left: 140px;
    transition-duration: 0.3s;
}

.main.collapsed {
    transition-duration: 0.3s;
    margin-left: calc(140px - 96px);
}

/* ---------------------------------------------------
    Header
----------------------------------------------------- */

.main-header {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 0px 0px;
    padding: 7px;
    height: 49px;
    color: slategray;
    border-bottom: 1px solid #202020;
}

/* ---------------------------------------------------
    Status
----------------------------------------------------- */

.main-status {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    grid-auto-rows: 150px;
    grid-gap: 20px;
    margin: 20px 20px;
}

.overviewcard {
    font-family: 'Montserrat', sans-serif;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    border-radius: 4px;
    font-size: 30px;
    position: relative;
    border-bottom: 15px solid rgb(255, 255, 255, 0.5);
    transition-duration: 0.3s;
}

.overviewcard:hover {
    border-bottom: 25px solid rgb(255, 255, 255, 0.5);
}

.overviewcard.A {
    background-color: rgb(32, 168, 216);
}

.overviewcard.B {
    background-color: rgb(77, 189, 116);
}

.overviewcard.C {
    background-color: rgb(255, 127, 80);
}

.overviewcard.D {
    background-color: rgb(248, 108, 107);
}

.overviewcard__label {
    position: absolute;
    top: 75px;
    left: 25px;
    font-size: 18px;
    animation-duration: 1s;
}

.overviewcard__info {
    font-size: 35px;
    position: absolute;
    top: 20px;
    left: 25px;
    animation-duration: 1s;
}

.overviewcard__icon {
    position: absolute;
    bottom: 10px;
    right: 15px;
    width: 70px;
    height: 70px;
}

.fas.status_icon {
    font-size: 70px;
    color: black;
    opacity: 0.2;
    animation-duration: 1s;
}

.material-icons.clock {
    font-size: 70px;
    color: black;
    opacity: 0.2;
    animation-duration: 1s;
}

.time_btn {
    position: absolute;
    top: 8px;
    right: 0px;
    height: 25px;
    width: 45px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    outline: none;
}

.time_btn:focus {
    border: none;
    outline: none;
}

.material-icons.md-1 {
    position: absolute;
    top: 6px;
    right: 25px;
    font-size: 17px;
    color: white;
}

.material-icons.md-2 {
    position: absolute;
    top: 0px;
    right: 7px;
    font-size: 20px;
    color: white;
}


/* ---------------------------------------------------
    Graphs
----------------------------------------------------- */

.main-cards {
    column-count: 1;
    column-gap: 20px;
    margin: 20px 20px;
}

.card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid #202020;
    border-radius: 4px;
    color: white;
    width: 100%;
    height: 485px;
    padding: 25px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    
    font-size: 20px;
}

.card.A {}

.card.B {}

/* ---------------------------------------------------
    FootCard
----------------------------------------------------- */

.footer-cards {
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    grid-auto-rows: 175px;
    grid-gap: 20px;
    margin: -20px 20px 20px 20px;
    color: wheat
}

.f-card {
    border: 1px solid #202020;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    border-radius: 4px;
    font-size: 30px;
    position: relative;
}



/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media only screen and (min-width: 1225px) {
    .main-status {
        grid-template-columns: repeat(4, minmax(265px, 1fr));
    }

    .main-cards {
        column-count: 2;
    }

    .footer-cards {
        grid-template-columns: repeat(4, minmax(265px, 1fr));
    }
}


@media only screen and (min-width: 930px) and (max-width: 1225px) {
    .main-status {
        grid-template-columns: repeat(2, minmax(265px, 1fr));
    }

    .footer-cards {
        grid-template-columns: repeat(2, minmax(265px, 1fr));
    }
}


@media only screen and (max-width: 930px) {
    .main-status {
        grid-template-columns: repeat(1, minmax(265px, 1fr));
    }

    .footer-cards {
        grid-template-columns: repeat(1, minmax(265px, 1fr));
    }
}
